microbench/results*
litl/impl/*
.vscode/launch.json
settings.json
*.o
*.so
litl/Makefile
litl/src/Makefile
microbench/main
microbench/main_disa
microbench/main_orig
rdma-example
*.nfs*
microbench/server_logs
microbench/client_logs
microbench/mpi_test
microbench/barrier_files/*
# microbench/metadata/*
litl2/make.log
microbench/__pycache__
sherman_deps/
c_cpp_properties.json

